<h1>Burger-Log!</h1>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Waiting to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">


