html {
    height: 100% !important;
}

body {
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100% !important;
    max-width: 100% !important;
    /* margin: 10px !important; */
    /* padding: 10px !important; */
}

li {
    padding: 5px;
    margin: 5px;
    background: black;
}

ul {
    color: white;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

.card {
    background-image: url(../Images/wood-background.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: white;
    border: 5px dashed yellow !important;
}

#cardHeader {
    color: white;
    font-family: monospace;
}

h1 {
    background-image: URL("../Images/burgers.jpg");
    border: 5px solid orange;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    vertical-align: middle !important;
    text-align: center;
    padding: 2%;
    margin-bottom: 20px !important;
    max-width: 100%;
    height: 120px !important;
    color: white;
    font-family: cursive;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listHeaders {
    background: orange;
    border: 5px groove white;
}

.waiting {}

.devoured {}